body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
}

canvas{
    border: 5px solid #7a7a7a;   
    background-color: #519662;
}
/* creates the board for the game */